%p#notice= notice

%p
  %b Name:
  = @user.name
%p
  %b Email:
  = @user.email
%p
  %b Current sign in IP:
  = @user.current_sign_in_ip

= link_to 'Edit', edit_user_path(@user)
\|
= link_to 'Back', users_path
